.portrait .portrait-img-area .avatar {
    margin: 15px;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0px;
}

.identity-area {
    text-align: left;
}

.col-md-6 {
    padding-left: 30px;
    padding-right: 30px;
}

.gage-avatar {
    margin: 15px;
    width: 140px;
}

.gage-portrait-img-area {
    text-align: center;
}

.gage-name {
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    margin-bottom: 20px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

.gage-name-small {
    display: block;
    font-size: 16px;
    letter-spacing: 3px;
}

.gage2-block {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 15px; */
    margin-right: 15px;
    margin-top: 5px;
}

.info-map {
    right: 0;
    bottom: 0;
    min-height: 150px;
    width: 100%;
    z-index: 3;
    padding: 10px;
    background: #f2f2f2;
}

.avatar {
    border-radius: 100%;
}

.gaugelist {
    margin: 0px 0px 30px 0px;
    margin-bottom: 25px;
}

.portrait {
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.identity-area {
    margin-bottom: 0px;
    margin-top: 5px;
}

.portrait .portrait-img-area .avatar {
    width: 120px;
}

.gauge-title {
    margin-bottom: 0px;
    margin-top: 2px;
}

.p-name {
    margin-bottom: 0px;
}

.gauge-avatar {
    margin-bottom: 2px;
    width: 120px;
    margin: 15px;
    border-radius: 100%;
}

.gauge-box {
    margin-top: 2px;
}

.content {
    border-bottom: 20px solid #e1e1e1;
}

.service-name {
    font-size: 24px !important;
}

.ul-gauge2 {
    width: 85%;
}

.modal-dialog {
    width: 75%;
    margin: auto;
}
